<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portafolio de Ian</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="terminal">
    <div class="bar">
      <span class="button red"></span>
      <span class="button yellow"></span>
      <span class="button green"></span>
    </div>
    <div class="content">
      <pre class="banner" style="font-size: 14px;">
 _____                _____              _     __        _  _        
|_   _|              |  __ \            | |   / _|      | |(_)       
  | |   __ _  _ __   | |__) |___   _ __ | |_ | |_  ___  | | _   ___  
  | |  / _` || '_ \  |  ___// _ \ | '__|| __||  _|/ _ \ | || | / _ \ 
 _| |_| (_| || | | | | |   | (_) || |   | |_ | | | (_) || || || (_) |
|_____|\__,_||_| |_| |_|    \___/ |_|    \__||_|  \___/ |_||_| \___/        
      </pre>
      <p>- Welcome to <span class="highlight">Ian's</span> Portfolio!</p>
      <p>- This is my<span class="current"> interactive Portfolio. </span> Here you can explore different sections by typing <span class="command">commands.</span></p>
      <p>------------------------------</p>
      <p><span>- </span>Type '<span class="command">help</span>'and press Enter to view available commands<span style="color: RED;">!</span></p>
      <p>&nbsp;</p>
        <p class="command_space"><span class="highlight">user</span><span>@</span><span>portfolio</span>:~$ <span id="input" contenteditable="true" autofocus></span><span id="cursor">_</span></p>
      </div>
  </div>
  <script src="script.js"></script>
</body>
</html>